body {
  padding: 0;
  margin: 0;
  // font-family: ChineseFont, EnglishFont, Apple Color Emoji, Segoe UI Emoji, system-ui, sans-serif;
  font-display: block;
  color: @color-font-default;
  background: @background-main;
  overflow: scroll;

  &.blur {
    filter: blur(30px);
  }
}

div {
  box-sizing: border-box !important;
}

a {
  color: @color-theme;
}

p {
  opacity: .78;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/**
 * scrollbar
*/
::-webkit-resizer, ::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 0;
  border-radius: 4px;
  background-color: transparent;
}
::-webkit-scroll-track, ::-webkit-scrollbar-button {
  display: none;
}
::-webkit-resizer, ::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #b6b5b5;
  opacity: .7;
  border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
  display: none;
}

/**
 * sweet alert
 * customed style
 */

.swal2-confirm,
.swal2-deny,
.swal2-cancel {
  outline: none !important;
  box-shadow: none !important;
}

.swal2-confirm {
  background-color: fade(@background-btn-highlight, 70%) !important;
  &:hover:not([disabled]) {
    background-color: fade(@background-btn-highlight, 90%) !important;
  }
  &:focus {
    box-shadow: 0 0 0 3px fade(@background-btn-highlight, 50%) !important;
  }
}

.swal2-icon {
  width: 100% !important;
  height: 200px !important;
  border: none !important;
  border-radius: 0 !important;
  * {
    display: none !important;
  }
}

.swal2-info {
  background: url('../../img/loading/10.png') center center no-repeat;
  background-size: auto 100%;
}

.swal2-error {
  background: url('../../img/loading/1.png') center center no-repeat;
  background-size: auto 100%;
}

.swal2-warning {
  background: url('../../img/loading/10.png') center center no-repeat;
  background-size: auto 100%;
}

.swal2-success {
  background: url('../../img/loading/10.png') center center no-repeat;
  background-size: auto 100%;
}

.swal2-container-custom {
  text-align: unset !important;
  margin: 1em 5em .3em !important;
}
